footer {
  background-color: #00ff00;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        height: 60px;
        width: 100%;
        align-items: center;
        position:absolute;
        bottom:0px;
}
footer p {
  text-align: center;
}
